<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">FNE2 TG Manager</h1>
        <p class="lead">Simple TG file editor</p>
        <hr class="my-4">

        <% if (user) { %>
            <a class="btn btn-primary btn-lg" href="/users" role="button">User Management</a>
            <a class="btn btn-info btn-lg" href="/tg_rules" role="button">TG Rules</a>
            <a class="btn btn-secondary btn-lg" href="/logout" role="button">Logout</a>
    <% } else { %>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        <% } %>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
