<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 80vh;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h2><%=name%> Peer Map</h2>
    <div id="map"></div>
</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="/public/js/fneUtils.js"></script>
<script>
    const peers = <%- JSON.stringify(peers) %>;

    document.addEventListener('DOMContentLoaded', () => {
        const initialLat = 37.0902;
        const initialLng = -95.7129;
        const initialZoom = 4;

        const map = L.map('map').setView([initialLat, initialLng], initialZoom);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors and Caleb, KO4UYJ'
        }).addTo(map);

        peers.forEach(peer => {
            if (!peer.config.info) {
                console.warn("Skipped peer with no info: ", peer.peerId);
                return;
            }

            const { latitude, longitude, location } = peer.config.info;
            if (latitude && longitude) {
                const marker = L.marker([latitude, longitude]).addTo(map);
                marker.bindPopup(`<b>${location}</b><br />Peer ID: ${peer.peerId}<br />RX Frequency: ${(peer.config.rxFrequency / 1e6).toFixed(4)}MHz<br />TX Frequency: ${(peer.config.txFrequency / 1e6).toFixed(4)}MHz<br />`);
            }
        });
    });
</script>

</body>
</html>