<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        .button-group {
            margin-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
        }
        .button-group a {
            margin-right: 10px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4"><%=name%> DVMFNE Manager</h1>
        <p class="lead">Manage your DVMFNE settings and view status.</p>
        <hr class="my-4">

        <% if (user) { %>
            <div class="button-group">
                <a class="btn btn-primary btn-lg" href="/users" role="button"><i class="fas fa-users"></i> User Management</a>
                <a class="btn btn-primary btn-lg" href="/peerMapInclusions" role="button"><i class="fas fa-map-marked-alt"></i> Peer Map Inclusions</a>
                <a class="btn btn-primary btn-lg" href="/tg_rules" role="button"><i class="fas fa-ruler"></i> FNE Peer Map</a>
                <a class="btn btn-primary btn-lg" href="/fnePeerMap" role="button"><i class="fas fa-map"></i> FNE Peer Map</a>
                <a class="btn btn-primary btn-lg" href="/fnePeerList" role="button"><i class="fas fa-list"></i> FNE Peers</a>
                <a class="btn btn-primary btn-lg" href="/fneAffiliationList" role="button"><i class="fas fa-sitemap"></i> FNE Affiliation List</a>
            </div>

            <div class="button-group">
                <a class="btn btn-success btn-lg" href="/startFne" role="button"><i class="fas fa-play"></i> Start FNE</a>
                <a class="btn btn-warning btn-lg" href="/restartFne" role="button"><i class="fas fa-redo"></i> Restart FNE</a>
                <a class="btn btn-danger btn-lg" href="/stopFne" role="button"><i class="fas fa-stop"></i> Stop FNE</a>
                <a class="btn btn-warning btn-lg" href="/fneForceUpdate" role="button"><i class="fas fa-sync-alt"></i> FNE Force Update</a>
                <% if (sheets) {%>
                    <a class="btn btn-warning btn-lg" href="/pushRidAclToFne" role="button"><i class="fas fa-sync-alt"></i> Update ACL From Sheets</a>
                <%}%>
            </div>

            <div class="button-group">
                <% if (sheets) {%>
                    <a class="btn btn-secondary btn-lg" href="/getRidSheet" role="button"><i class="fas fa-tachometer-alt"></i> Sheets ACL List</a>
                <%}%>
                <a class="btn btn-secondary btn-lg" href="/fneStatus" role="button"><i class="fas fa-tachometer-alt"></i> FNE Status</a>
                <a class="btn btn-secondary btn-lg" href="/logout" role="button"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        <% } else { %>
            <div class="button-group">
                <a class="btn btn-primary btn-lg" href="/fnePeerMap" role="button"><i class="fas fa-map"></i> FNE Peer Map</a>
                <a class="btn btn-primary btn-lg" href="/fneAffiliationList" role="button"><i class="fas fa-sitemap"></i> FNE Affiliation List</a>
                <a class="btn btn-success btn-lg" href="/login" role="button"><i class="fas fa-sign-in-alt"></i> Login</a>
            </div>
        <% } %>
    </div>
</div>
<script>
    let url = new URL(window.location.href);
    if (url.searchParams.get("message") !== null) {
        window.alert(url.searchParams.get("message"));
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
